.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4%;
}
.navbar .logo{
    font-size: 2rem;
    font-weight: bold;
    color: tomato;
}
.navbar .profile{
    width: 40px;
}